<h1>Dear <%= @order.name %></h1>

<h2>Thank you for your recent order from The Pragmatic Store.</h2>

<p>You ordered the following items:</p>

<p><%= render @order.line_items %>

  We'll send you a separate e-mail when your order ships.</p>
